<div class="wrapper">
    <h2 color="primary">Collections</h2>
    <div class="saveCollection-container">

        <mat-form-field appearance="outline" class="stake">
            <mat-icon class="dollarSign" matSuffix>save</mat-icon>
            <mat-label>Collection Name</mat-label>
            <input
                matInput
                type="text"
                #collectionName
            />
          </mat-form-field>

        <button mat-raised-button class="mat-primary" (click)="saveCurrentSetOfTips(collectionName)">Save</button>
    </div>

    <ul role="list">
        <ng-container *ngIf="savedCollections$ | async as collections; else loading">
            <li class="collection cursor" *ngFor="let collection of collections" (click)=(loadCollection(collection.id))>
                {{ collection.name }}
                <mat-icon
                [routerLink]="'/'"
                (click)="deleteCollection(collection.id)"
                class="removeTip cursor"
                matTooltip="Delete Collection">clear</mat-icon>
            </li>
        </ng-container>

        <ng-template #loading>
            <div #loading>Loading ...</div>
        </ng-template>
    </ul>
</div>
