.wrapper {
    margin-top: 10px;
    padding: 15px 15px 15px 20px;
    border-radius: 4px;
    position: relative;
    min-width: 320px
}

.saveCollection-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
        margin-left: 10px;
        margin-top: 11px
    }
}

.cursor {
    cursor: pointer;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 5px;

    mat-icon {
        margin-left: 10px;
        margin-right: 7px;
    }

    .collectionName {
        flex-grow: 1;
        padding: 7px;
    }
}