.wrapper {
    margin-top: 10px;
    padding: 15px 15px 15px 20px;
    border-radius: 4px;
    position: relative;
    min-width: 320px
}

.saveCollection-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
        margin-left: 10px;
        margin-top: 11px
    }
}

.cursor {
    cursor: pointer;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.collection {
    position: relative;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 10px 5px 10px;

    mat-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .collectionName {
        font-weight: bold;
    }

    .collectionInfos {
        flex-grow: 1;
    }

    .collectionDetails {
        font-size: 0.8em;
        margin-top: 10px;
        padding-top: 5px;
        display: flex;
        // justify-content: space-between;
        > span {
            margin-right: 15px
        }
    }

}

.collectionCount {
    text-align: right;
    font-size: 0.8em;
}