.wrapper {
    margin-top: 10px;
    padding: 15px 15px 15px 20px;
    border-radius: 4px;
    position: relative;
    min-width: 320px
}

.saveCollection-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    button {
        margin-left: 10px;
    }
}