<div class="wrapper">
  <!-- <h2 color="primary">{{ tipsLength > 0? 'Winnings' : 'No active bets' | async}}</h2> -->
  <ng-container *ngIf="true">
    <mat-form-field appearance="outline" class="stake">
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-label>Total Stake</mat-label>
      <input
        [value]="stake"
        matInput
        type="number"
        #inputStake
        (input)="setStake(inputStake)"
      />
    </mat-form-field>

    <table>
      <tr *ngFor="let combination of combinations$ | async">
        <td><strong>{{ combination.name }}</strong>:  </td>
        <td>{{ combination.winnings | currency: "USD":"symbol":"0.0-2" }}</td>
      </tr>
    </table>

  </ng-container>
</div>
