.wrapper {
  margin-top: 10px;
  padding: 15px 15px 15px 20px;
  border-radius: 4px;
  position: relative;
  min-width: 320px
}

ul {
  list-style: none;
} 

h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

mat-icon {
  vertical-align: bottom;
}

mat-form-field {
  width: 100%;
  border: none
}

// hide arrows on number field
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


table {
  width: 100%;

  tr th {
    padding-bottom: 5px;
  }

  tr td,
  tr th {
    padding-left: 15px;
  }

  tr td:first-child,
  tr th:first-child {
    padding: 0;
  }
}
