<div class="wrapper">
  <h2 color="primary">{{ tipsLength > 0? 'Winnings' : 'No active bets'}}</h2>
  <ng-container *ngIf="tipsLength > 0">
    <mat-form-field>
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-label>Total Stake</mat-label>
      <input
        [value]="stake"
        matInput
        type="number"
        #inputStake
        (input)="setStake(inputStake)"
      />
    </mat-form-field>

    <table>
      <tr *ngFor="let combination of combinations">
        <td><strong>{{ combinations.length > 1? 'System' : '' }} {{ combination.name }}</strong>:  </td>
        <td>{{ combination.winnings | currency: "EUR":"symbol":"0.0-2" }}</td>
      </tr>
    </table>

  </ng-container>
</div>
