<div class="wrapper">
  <h2 color="primary">{{ tipsLength > 0? 'Winnings' : 'No active Bets'}}</h2>
  <ng-container *ngIf="tipsLength > 0">
    <mat-form-field appearance="outline" class="stake">
      <mat-icon class="dollarSign" matSuffix>attach_money</mat-icon>
      <mat-label>Total Stake</mat-label>
      <input
        [value]="stake$"
        matInput
        type="number"
        id="stakeInput"
        #inputStake
        (input)="setStake(inputStake)"
      />
    </mat-form-field>

    <table>
      <ng-container *ngIf="combinations$ | async as combinations; else loading">
        <tr>
          <th>Bet</th>
          <th>Winnings</th>
          <th>Stake per bet</th>
        </tr>
        <tr *ngFor="let combination of combinations">
          <td>{{ combination.name }}:  </td>
          <td [className]="combination.winnings > 0? 'positive':'negative'">
            {{ combination.winnings | currency: "USD":"symbol":"0.0-2" }}
          </td>
          <td>({{ combination.stakePerBet | currency: "USD":"symbol":"0.0-2" }})</td>
        </tr>
      </ng-container>
      <ng-template #loading>Loading...</ng-template>
    </table>

  </ng-container>
</div>
