.wrapper {
  margin-top: 10px;
  padding: 15px 15px 15px 20px;
  border-radius: 4px;
  position: relative;
  min-width: 320px;
}

ul {
  list-style: none;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

mat-icon {
  vertical-align: bottom;
}

mat-form-field {
  width: 100%;
  border: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

table {
  width: 100%;
}

table tr th {
  padding-bottom: 5px;
}

table tr td,
table tr th {
  padding-left: 15px;
}

table tr td:first-child,
table tr th:first-child {
  padding: 0;
}
