<ul>
  <ng-container *ngIf="tipLength < 8">
    <li (click)="onClickAdd()" class="addTip">
      <div class="addTipLabel">Add Bet</div>
      <div class="content">
        <div class="plusSign">+</div>
      </div>
    </li>
  </ng-container>

  <ng-container *ngIf="tips$ | async as tips; else loading">
    <li *ngFor="let tip of tips">

      <tip
        @listItemAnimation
        [tip]="tip"
        [userID]="userID">
      </tip>
    </li>
  </ng-container>

  <ng-template #loading>
    <li #loading>Loading ...</li>
  </ng-template>

  <li class="placeholder"></li>
  <li class="placeholder"></li>
  <li class="placeholder"></li>
</ul>
