<div class="wrapper mat-typography mat-app-background">
  <header>
    <top-bar></top-bar>
  </header>

  <ng-container *ngIf="!isLoggedIn; else loggedIn">
    <main class="loginscreen">
      <div class="login">
        <firebase-ui></firebase-ui>
      </div>
    </main>
  </ng-container>

  <ng-template #loggedIn>
    <!-- Desktop View -->
    <main class="desktop">
      <tip-list [userID]="userID"></tip-list>
      <div class="right-side-wrapper">
        <winnings class="winnings" [userID]="userID"></winnings>
        <saved-tips [userID]="userID"></saved-tips>
      </div>
    </main>

    <!-- Mobile View (Tabs) -->
    <main class="mobile">

      <mat-tab-group
      mat-align-tabs="center"
      headerPosition="below"
      animationDuration="0ms"
      >

      <!-- Tab: Tip List -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="primary">flag</mat-icon> Tips
          </ng-template>
          <tip-list [userID]="userID"></tip-list>
        </mat-tab>

        <!-- Tab: Winnings -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="primary">attach_money</mat-icon> Winnings
          </ng-template>
          <winnings [userID]="userID"></winnings>
        </mat-tab>

        <!-- Tab: Winnings -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon color="primary">save</mat-icon> Collections
          </ng-template>
          <saved-tips [userID]="userID"></saved-tips>
        </mat-tab>

      </mat-tab-group>
    </main>
  </ng-template>

</div>
