@import "../variables.scss";

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

li {
    padding: 20px 20px;
    background-color: lightgray;
    border-radius: 15px;
    margin-top: 10px;
    position: relative;

    &:before {
        content: " ";
        background: repeating-linear-gradient(
            135deg,
            #606dbc,
            #606dbc 3px,
            #465298 3px,
            #465298 6px
        );
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        width: 10px;
        border-radius: 15px 0 0 15px;
    }

    // &:after {
    //     visibility: hidden;
    //     position: absolute;
    //     content: $delete-icon;
    //     color: red;
    //     right: 20px;
    //     top: 50%;
    //     margin-top: -0.5em;
    //     font-size: 1em;
    // }

    // &:hover:after {
    //     visibility: visible;
    // }
}
