@import "../variables.scss";

.bet-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.bet {
    position: relative;
    padding: 15px 20px 15px 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0px #ddd;
    margin-top: 10px;
    position: relative;

    &:hover > .removeBet {
        visibility: visible;
    }

    .removeBet {
        border: none;
        background: none;
        text-decoration: none;
        color: orangered;
        visibility: hidden;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        user-select: none;
    }

    &::before {
        border-radius: 3px 0 0 3px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        content: ' ';
    }

    &.markedAsWin::before {
        background: green;
    }
    &.markedAsLoss::before {
        background: red;
    }
}

.bet-title {
    margin-bottom: 10px
}

.bet-infos {
    color: #5e5e5e
}

.bet-footer {
    border-top: 1px solid $blue-primary;
    margin-top: 10px;
    font-size: 0.8em;
    color: darkgrey;
    display:flex;
    justify-content: space-between;
    padding-top: 5px;

    .sport {
        font-style: italic;
        color: orangered
    }

    .date {
        text-align: right;
    }
}

.win { color:green }
.loss { color: red }

@media only screen and (min-width: 800px) {
    .bet-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        // align-content: stretch;
        margin-right: -5px;
        margin-left: -5px;

        .bet {
            flex-grow: 1;
            flex-basis: 0;
            min-width: 350px;
            margin-right: 5px;
            margin-left: 5px;
            max-width: 500px;
        }
    }

}