<ul class="bet-list">
  <li
    *ngFor="let bet of bets"
    class="bet"
    [class.red]="isRisky(bet)"
    [className]="markedAsWin ? 'markedAsWin' : 'markedAsLoss'"
  >
    <div class="bet-title">
      <strong>{{ bet.title }}</strong>
    </div>
    <div class="bet-infos">
      <span class="stake"
        ><strong>Einsatz: </strong>{{ bet.stake | currency:"EUR" }}</span
      >
      <br />
      <span class="odds"><strong>Quote: </strong>{{ bet.odds }}</span>
    </div>

    <div class="bet-footer">
      <span class="sport"> #UFC {{ bet.date | date: "dd.MM.yyyy" }} </span>
      <span class="date">
        <mat-slide-toggle [checked]="markedAsWin" (change)="clickWinToggle()"
          >Mark as Win</mat-slide-toggle
        >
      </span>
    </div>

    <a class="removeBet" [routerLink]="" (click)="removeBet(bet)"
      ><mat-icon>remove_circle_outline</mat-icon></a
    >
  </li>
</ul>

<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col" *ngFor="let bet of bets">Bet {{ bet.id }}</th>
    <th>Total Outcome</th>
  </thead>
  <tbody>
    <tr *ngFor="let combination of allPossibleOutcomes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td
        [className]="result.result == 'Win' ? 'win' : 'loss'"
        *ngFor="let result of combination"
      >
        <ng-container *ngIf="result.result == 'Win'">
          <mat-icon>done</mat-icon>
        </ng-container>
        <ng-container *ngIf="result.result == 'Loss'">
          <mat-icon>clear</mat-icon>
        </ng-container>
      </td>
      <td [className]="getTotalOutcome(combination) > 0 ? 'win' : 'loss'">
        {{ getTotalOutcome(combination) | number: ".0-2" | currency: "EUR" }}
      </td>
    </tr>
  </tbody>
</table>
