$md-green: (
    50 : #e7f5e8,
    100 : #c4e6c5,
    200 : #9dd59e,
    300 : #75c477,
    400 : #58b85a,
    500 : #3aab3d,
    600 : #34a437,
    700 : #2c9a2f,
    800 : #259127,
    900 : #18801a,
    A100 : #b8ffb9,
    A200 : #85ff87,
    A400 : #52ff54,
    A700 : #39ff3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-yellow: (
    50 : #fcf5e6,
    100 : #f8e5c1,
    200 : #f3d497,
    300 : #eec36d,
    400 : #ebb64e,
    500 : #e7a92f,
    600 : #e4a22a,
    700 : #e09823,
    800 : #dd8f1d,
    900 : #d77e12,
    A100 : #ffffff,
    A200 : #ffe9d2,
    A400 : #ffd19f,
    A700 : #ffc485,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-red: (
    50 : #f5e1e1,
    100 : #e5b3b3,
    200 : #d48181,
    300 : #c34e4e,
    400 : #b62828,
    500 : #a90202,
    600 : #a20202,
    700 : #980101,
    800 : #8f0101,
    900 : #7e0101,
    A100 : #ffacac,
    A200 : #ff7979,
    A400 : #ff4646,
    A700 : #ff2c2c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

@import '~minireset.css/minireset';
@import "~@angular/material/theming";
@include mat-core();

$custom-theme-primary: mat-palette($mat-amber);
$custom-theme-accent: mat-palette($mat-green);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);

$custom-dark-theme: mat-dark-theme(
    $custom-theme-primary,
    $custom-theme-accent,
    $custom-theme-warn
);