@import './custom-theme';

// Component Themes
@import './app/tip/tip.component.scss-theme.scss';
@import './app/tip-list/tip-list.component.scss-theme.scss';
@import './app/app.component.scss-theme.scss';
@import './app/top-bar/top-bar.component.scss-theme.scss';
@import './app/winnings/winnings.component.scss-theme.scss';

// Mixins
@mixin custom-components-theme($theme) {
  @include tip-component-theme($theme);
  @include tip-list-component-theme($theme);
  @include app-component-theme($theme);
  @include top-bar-component-theme($theme);
  @include winnings-component-theme($theme);
}

// Themes
.light-theme {
  @include angular-material-theme($custom-theme);
  @include custom-components-theme($custom-theme);
}

.dark-theme {
  @include angular-material-theme($custom-dark-theme);
  @include custom-components-theme($custom-dark-theme);
}

// Global styles
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Product Sans";
}