<div class="swipe-boundary">
<div class="tip"
  [className]="tip.markedAsWin ? 'win' : 'loss'"
  cdkDrag

  cdkDragLockAxis="x"  
  (cdkDragMoved)="test($event)"
  (cdkDragEnded)="ended($event)"
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()">

  <header >
    {{ tip.opponent1 }} - {{ tip.opponent2 }}
  </header>

  <div class="content">
      <div class="infos">
        Odds: {{ tip.odds }} <br />
        Outcome: {{ printOutcome() }}
    </div>
    <footer>
      <span>
        <span class="sport">{{ printSport() }}</span> |
        <time>{{ printDate() | date:'dd.MM.yyyy' }}</time>
      </span>

      <!-- <mat-slide-toggle
        class="toggle"
        color="primary"
        [matTooltip]="tip.markedAsWin ? 'Mark as Loss' : 'Mark as Win'"
        [checked]="tip.markedAsWin"
        (change)="clickWinToggle(tip)">
      </mat-slide-toggle> -->
      <!-- <mat-icon 
        class="toggle cursor"
        (click)="clickWinToggle(tip)"
        [matTooltip]="tip.markedAsWin ? 'Mark as Loss' : 'Mark as Win'"
        [color]="tip.markedAsWin? 'text': 'warn'">
        {{ tip.markedAsWin? 'sentiment_very_satisfied': 'sentiment_dissatisfied'}}
      </mat-icon> -->

      <label class="switch">
        <input (change)="clickWinToggle(tip)" [checked]="tip.markedAsWin" type="checkbox" id="togBtn">
        <div class="slider round"></div>
      </label>

    </footer>

    <div class="floating">
      <mat-icon
        class="cursor editTip"
        matTooltip='Edit Tip'
        (click)="editTip(tip)">edit</mat-icon>
      <mat-icon
        [routerLink]="'/'"
        (click)="deleteTip(tip)"
        class="removeTip cursor"
        matTooltip="Delete Tip">clear</mat-icon>
    </div>

  </div>
</div>
</div>
