mat-form-field {
  display: block;
}

.opponents,
.odds {
  display: flex;
  justify-content: space-around;
  align-items: center;

  mat-form-field {
    display: inline-block;
  }

  strong {
    margin: 0 20px;
  }
}
