mat-form-field {
  display: block;
}

.odds {
  display: flex;
  justify-content: space-between;
}

.odds mat-form-field {
  min-width: 100px !important;
}

.odds strong {
  flex: 0 0 40px;
}

.marginbottom {
  margin-bottom: 25px;
}

mat-icon {
  vertical-align: bottom;
}

mat-dialog-actions {
  margin-bottom: 15px;
}

strong {
  margin-bottom: 15px;
  text-align: center;
  display: block;
}

.comma {
  margin-top: 25px;
}

@media only screen and (min-width: 800px) {
  .opponents {
    display: flex;
    justify-content: space-between;
  }
  .opponents mat-form-field {
    flex: 1 1 auto;
  }
  .opponents strong {
    flex: 0 0 40px;
  }
  .marginbottomopponent {
    margin-bottom: 25px;
  }
  strong {
    margin-top: 25px;
  }
}
