<!--
--- Tip constructor: ---
    public opponent1: string,
    public opponent2: string,
    public odds: number,
    public date: Date,
    public sport: Sport,
    public outcome: OutComeEnum = OutComeEnum.firstFighterWins,
    public markedAsWin: boolean = true
-->

<h1 mat-dialog-title>Add Tip</h1>

<mat-dialog-content [formGroup]="form">
  <!-- Opponents -->
  <div class="opponents">
    <mat-form-field>
      <mat-label>Opponent1</mat-label>
      <input formControlName="opponent1" matInput type="text" />
    </mat-form-field>
    <strong>vs</strong>
    <mat-form-field>
      <mat-label>Opponent1</mat-label>
      <input formControlName="opponent2" matInput type="text" />
    </mat-form-field>
  </div>

  <!-- Odds -->
  <div class="odds">
    <mat-form-field>
      <mat-label>Odds predecimal</mat-label>
      <input value="1" formControlName="odds1" matInput type="text" />
    </mat-form-field>
    <strong>,</strong>
    <mat-form-field>
      <mat-label>Odds decimal</mat-label>
      <input value="0" formControlName="odds2" matInput type="text" />
    </mat-form-field>
  </div>

  <!-- Date -->
  <mat-form-field>
    <mat-label>Date of the Event</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Sport -->
  <mat-form-field>
    <mat-label>Sport</mat-label>
    <mat-select formControlName="sport" matNativeControl>
      <mat-option *ngFor="let sport of sportListKeys()" [value]="sport">
        {{ sportList[sport] }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Outcome -->
  <mat-form-field>
    <mat-label>Outcome</mat-label>
    <mat-select formControlName="outcome" matNativeControl>
      <mat-option *ngFor="let outcome of outComesKeys()" [value]="outcome">
        {{ outComeList[outcome] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button class="mat-primary" (click)="save()" cdkFocusInitial>
    Add Tip
  </button>
</mat-dialog-actions>
