<header color="primary">
  <div class="wrapper">
    <figure>
      <img src="../../assets/bhtrans.png" alt="">
      <!-- <caption>Make educated bets</caption> -->
    </figure>

    <div class="actions">
      <ng-container *ngIf="isLoggedIn">
        <button class="logout_btn" (click)="logout()"><div>Logout </div><mat-icon>input</mat-icon></button>
      </ng-container>
      
      <label class="switch" matTooltip='Toggle Dark/Light Theme' >
        <input (click)="toggleTheme()" [checked]="isDarkTheme" type="checkbox" id="togBtn">
        <div class="slider round"></div>
      </label>
    </div>

  </div>
</header>
