header {
  display: block;

  // Logo
  figure {
    position: relative;
  }

  caption {
    position: absolute;
    left: 95px;
    bottom: 23px;
    font-weight: bold;
  }
}

.logout {
  position: absolute;
  right: 40px;
  top: 50px;
}

.logout_btn {
  cursor: pointer;
  display: flex;
  background: none;
  border: none;
  align-items: center;

  div {
    padding-top: 3px;
  }

  mat-icon {
    margin-left: 10px
  }

  &:hover {
    color: white;
  }
}

h1 {
  font-size: 2.1em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.3em;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 20px 30px;
  position: relative;
}

.themeToggle {
  position: absolute;
  bottom: 20px;
  right: 40px;
}


@media only screen and (max-width: 800px) {
  header {
    figure img{
      height: 125px;
      width: 125px;
    }

    caption {
      bottom: 15px;
      left: 90px;
    }
  }
}