header {
  display: block;

  // Logo
  figure {
    position: relative;

    img {
      height: 180px;
      width: 180px;
    }
  }

  caption {
    position: absolute;
    left: 95px;
    bottom: 23px;
    font-weight: bold;
  }
}

.actions {
  position: absolute;
  right: 40px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.logout_btn {
  cursor: pointer;
  display: flex;
  background: none;
  border: none;
  align-items: center;
  margin-bottom: 10px;

  div {
    padding-top: 3px;
  }

  mat-icon {
    margin-left: 10px
  }

  &:hover {
    color: white;
  }
}

h1 {
  font-size: 2.1em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 1.3em;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  padding: 20px 30px;
  position: relative;
}

.themeToggle {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

// SWITCH
.switch {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1.6em;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s;
  border-radius: 99999px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0.45em;
  bottom: 0.45em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s;
  border-radius: 50%; 
}

input:checked + .slider::before {
  transform: translateX(3.2em);
}

.slider::after {
 content: 'Light';
 display: block;
 position: absolute;
 transition: 0.2s;
 height: 1.6em;
 margin-top:-1.1em;
 top: 50%;
 left: 1em;
 right: 1em;
 font-size: 0.7em;
 text-align: right;
 font-family: Verdana, sans-serif;
}

input:checked + .slider::after {  
  content: 'Dark';
  color: white;
  text-align: Left;
}


@media only screen and (max-width: 800px) {
  header {
    figure img{
      height: 125px;
      width: 125px;
    }

    caption {
      bottom: 15px;
      left: 90px;
    }
  }
}