<header color="primary">
  <div class="wrapper">
    <figure>
      <img src="../../assets/bh_logo_150.png" alt="">
      <caption>Make educated bets</caption>
    </figure>
    <ng-container *ngIf="isLoggedIn">
      <div class="logout">
        <!--  -->
        <button class="logout_btn" (click)="logout()"><div>Logout </div><mat-icon>input</mat-icon></button>
      </div>
    </ng-container>
    <mat-slide-toggle 
      class="themeToggle"
      matTooltip='Toggle Dark/Light Theme' 
      (change)="toggleTheme()">
    </mat-slide-toggle>
  </div>
</header>
